    /* Reset Document */
* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    background-image: url(image/fundo.avif);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: sans-serif;
}

div, header, section, span, ul, li, a {
    box-sizing: border-box;
}
section {
    width: 100%;
    height: 100vh;
}

    /* Configurações */
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1em 2.5em;
    align-items: center;
    background-color: #d4f387;
    position: fixed;
    z-index: 999;
}

h1 {
    text-align: center;
    padding: 2rem;
}

#logo {
    max-height: 10rem;
}

#menu li {
    list-style: none;
    display: inline-block;
    margin: 1rem;
}

#menu li a {
    color: white;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 3px;
    text-shadow: 3px 3px 5px black;
}

#menu li a:hover {
    color: #d4f387;
    background-color: white;
}

#inicio {
    background-color: #d4f387;
    padding: 6rem 0 0 0;
    height: auto;
}

#sobrenos {
    background-color: transparent;
    padding: 50px 20px;
    color: white;
}

#produtos {
    background-color: #80a043;
    color: white;
}

#receitas {
    background-color: #567622;
    color: white;
}

#contactos {
    background-color: #2c4d00;
    color: white;
}


#sobrenos h2 {
    color: #fff;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8);
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
    text-align: center;
    justify-content: center;
}

#sobrenos p {
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 2%;
    margin: 5%;
}

/* Menu Inicio */
#inicio img {
    object-fit: cover;
    width: 100%;
    aspect-ratio: 16/9;
}

/* Menu Receitas */
#card_receita {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.card_receita_image {
    background-color: #fff;
    margin: 1.1em 1em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    width: 30%;
    min-width: 240px;
    display: inline-block;
}

.card_receita_text {
    padding: 1em 1.2em;

    /* .card_receita_text h4 */
    font-family: 'Times New Roman', Times;
    font-size: medium;
    font-style: italic;
    color: cadetblue;
}

.card_receita_image img {
    border-radius: 5px 5px 0px 0px;
    object-fit: cover;
    width: 100%;
    aspect-ratio: 16/9;
}

.card_receita:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    scale: 1.02;
    rotate: 2deg;
}


/* Configurações para footer */
footer {
    background-color: #2d5a27;
    padding: 20px 0;
    text-align: center;
}

#card_footer {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    display: inline-block;
    text-align: center;
    background-color: lightcoral;
    border-radius: 8px;
    padding: 20px;
}

.card_footer_image {
    background-color: white;
}

.card_footer_text {
  padding: 2px 16px;
}

.card_footer:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}