    /* Reset Document */
* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 100%;
    font-family: sans-serif;
}

div, section, span, ul, li, a {
    box-sizing: border-box;
}

    /* Configurações */
header {
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    padding: 1em 2.5em;
    align-items: center;
    background-color: #d4f387;
    position: fixed;
    z-index: 999;
}

section {
    width: 100%;
    height: 100vh;
}

h1 {
    text-align: center;
    padding: 2rem;
}

html {
    scroll-behavior: smooth;
}

#menu li {
    list-style: none;
    display: inline-block;
    margin: 1rem;
}

#menu li a {
    color: white;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 3px;
    text-shadow: 3px 3px 5px black;
}

#menu li a:hover {
    color: #d4f387;
    background-color: white;
}

#logo {
    max-height: 10rem;
}

#inicio {
    background-color: #d4f387;
}

#sobrenos {
    background-color: #aac965;
    color: white;
}

#produtos {
    background-color: #80a043;
    color: white;
}

#receitas {
    background-color: #567622;
    color: white;
}

#contactos {
    background-color: #2c4d00;
    color: white;
}



footer {
    background-color: #2d5a27;
    padding: 20px 0;
    text-align: center;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  display: inline-block;
  text-align: center;
  background-color: lightcoral;
  border-radius: 8px;
  padding: 20px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.image-container {
    background-color: white;
}

.container {
  padding: 2px 16px;
}
